.flex_container {
  display: flex;
  flex-wrap: nowrap;
  height: 600px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background-color: aliceblue;
  justify-content: space-evenly;
  border: none;
  border-radius: 5px;
  flex-direction: column;
}

.header {
  align-items: center;
  font-size: 35px;

  width: 190px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.result_img {
  width: 100px;
  height: 100px;
}

.text {
  font-size: 20px;
}

.home_button {
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 4px;
  background-color: #ffff;
  color: red;
}
.home_button:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
