.flex_container {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background-color: aliceblue;
  justify-content: center;
  border: 2px solid none;
  border-radius: 5px;
}

.header {
  align-items: center;
  font-size: 35px;

  width: 150px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.lucky_button {
  align-items: center;
  font-size: 20px;

  text-align: center;
  border: none;

  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.lucky_button:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
  justify-content: space-around;
}
